.menu {

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: #f78b26;
    background-image: url(./../images/snake-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__logo {
    /*margin: 0;*/
    text-align: center;
    font-family: 'Carnevalee';
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px #790502;
  }

  &__wrapper-button {
    display: flex;
    justify-content: space-between;
    width: 340px;
    text-align: center;
    /*margin: auto;*/
  }

  &__button-link {
    position: relative;
  }

  &__button {
    position: relative;
    width: 140px;
    height: 70px;
    z-index: 3;
    font-size: 1.4em;
    text-shadow: 1px 1px #790502;
    color: #fff;
    background-color: transparent;
    background-size: 100%;
    background-image: url(./../images/button.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;

    &:hover + .menu__cactus {
      top: -70px;
    }
  }

  &__cactus {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 80px;
    height: 75px;
    z-index: 1;
    margin: auto;
    background-image: url(./../images/happy-cactus.png);
    background-size: 100%;
    transition: top 300ms ease;
  }

  &__button-hidden {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 140px;
    height: 30px;
    display: inline-block;
    z-index: 2;
    background-color: #f78b26;
  }


}
