:root {
    --font-lato: 'Lato', sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-lato);
    margin: 0;
    padding: var(--gap);
}

*, *::before, *::after {
    box-sizing: inherit;
}
