.level {
  position: relative;
  width: 300px;
  height: 200px;
  // border: 2px solid #fa803f;
  outline: 2px solid #fa803f;
  // box-sizing: initial;
}

.level__food {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}
